 
    <div class="container">
          <div class="form-row">
            <label class="control-label col-sm-2" for="name">Name*</label>
            <div class="col-sm-10">
              <p id="name" name="name" >{{associate.basicContactDetail.firstName}}
            </div>
          </div>
          <div class="form-row">
            <label class="control-label col-sm-2" for="phone">WhatsApp Mobile Number*</label>
            <div class="col-sm-10">          
              <p id="phone" name="phone">
            </div>
          </div>
          <div class="form-row">
            <label class="control-label col-sm-2" for="email">Email*</label>
            <div class="col-sm-10">          
              <p id="email" name="email">{{associate.basicContactDetail.email}}
            </div>
          </div>
          <div class="form-row">
            <label class="control-label col-sm-2" for="adhar">Aadhar (Add Front and back Side of Aadhar)*</label>
            <div class="col-sm-10">          
              <p id="adhar" name="adhar">{{associate.kyc.firstKycId}}
            </div>
          </div>
          <div class="form-row">
            <label class="control-label col-sm-2" for="pan">PAN*</label>
            <div class="col-sm-10">          
              <p id="pan" name="pan">{{associate.kyc.secondKycId}}
            </div>
          </div>
          <div class="form-row">
            <label class="control-label col-sm-2" for="address">Address*</label>
            <div class="col-sm-10">          
              <p id="address" name="address">{{associate.address.addressLine1}}
            </div>
          </div>
    </div>